on:
  push:
  schedule:
    - cron: "20 * * * *"

name: bot

jobs:
  run-bot-job:
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: '3.6.3'
      - name: Query dependencies
        run: |
          install.packages('remotes')
           saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
           writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}
      - name: Restore R package cache
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-
      - name: Install system dependencies
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')
      - name: Install the package from the current repository
        run: |
          remotes::install_local(force = TRUE)
        shell: Rscript {0}
      - name: Run bot scripts
        env:
          RTWEET_APP: ${{ secrets.RTWEET_APP }}
          RTWEET_CONSUMER_KEY: ${{ secrets.RTWEET_CONSUMER_KEY }}
          RTWEET_CONSUMER_SECRET: ${{ secrets.RTWEET_CONSUMER_SECRET }}
        run: |

          library("dplyr")
          library("emoji")
          library("glue")
          library("rtweet")
          library("whereis420")

          spark_emoji <- emoji_name[["sparkles"]]
          places_420 <- get_420_places() %>% select(time, location)
          sampled_420 <- slice_sample(places_420, n = 1) %>%
            mutate(msg = glue(
              "{spark_emoji}It's 4:20 in {location}{spark_emoji} ",
              "https://www.google.com/maps/place/{gsub(' ', '+', location)}/"
            ))

          create_token(
            app = Sys.getenv("RTWEET_APP"),
            consumer_key = Sys.getenv("RTWEET_CONSUMER_KEY"),
            consumer_secret = Sys.getenv("RTWEET_CONSUMER_SECRET")
          )
          post_tweet(sampled_420$msg)
        shell: Rscript {0}
